#back2Top {
    width: 50px;
    line-height: 50px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color:black;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 5px;
}
#back2Top:hover {
    background-color: white;
    color: black;
}